<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<ul class="topnav">
  <!--<li><a class="active" href="#home">Home</a></li>-->
  <li><a href="#home">Home</a></li>
  <li><a routerLink="/drivers">Drivers</a></li>
  <li><a routerLink="/routes">Routes</a></li>
  <li><a routerLink="/type-cars">Cars</a></li>
  <li><a routerLink="/type-states">States</a></li>
  <li><a routerLink="/type-statuses">Statuses</a></li>
</ul>
<router-outlet></router-outlet>
