<div class="container">
  <br>
  <h1 align="center">New AutoPark</h1>
  <br>
  <div *ngIf="autoPark as eAutoPark">
    <div class="row justify-content-center">
      <div class="col-6">

        <!--<div class="form-group row">-->
        <!--<label class="col-sm-2 col-form-label" for="editId">Id: </label>-->
        <!--<div class="col-sm-10">-->
        <!--<input type="text" id="editId" class="form-control-plaintext" readonly/>-->
        <!--</div>-->
        <!--</div>-->

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="editName">Name:</label>
          <div class="col-sm-10">
            <input id="editName" id="editName" class="form-control" [(ngModel)]="eAutoPark.name" placeholder="name"
                   required #editName="ngModel"/>
            <div *ngIf="editName.invalid && (editName.dirty || editName.touched)"
                 class="text-danger">
              Field is required.
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="editAge">Age:</label>
          <div class="col-sm-10">
            <input id="editAge" name="editAge" class="form-control" [(ngModel)]="eAutoPark.age" placeholder="age"
                   required #editAge="ngModel"/>
            <div *ngIf="editAge.invalid && (editAge.dirty || editAge.touched)"
                 class="text-danger">
              Field is required.
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="inputDriver">Driver:</label>
          <div class="col-sm-10">
            <select id="inputDriver" name="inputDriver" class="form-control" [(ngModel)]="eAutoPark.driver_id"
                    required #inputDriver="ngModel">
              <option *ngFor="let driver of drivers" value="{{driver.id}}"
                      [selected]="driver.id == autoPark.driver_id">
                {{driver.name}}
              </option>
            </select>
            <div *ngIf="inputDriver.invalid && (inputDriver.dirty || inputDriver.touched)"
                 class="text-danger">
              Field is required.
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="inputRoute">Route:</label>
          <div class="col-sm-10">
            <select id="inputRoute" name="inputRoute" class="form-control" [(ngModel)]="eAutoPark.route_id"
                    required #inputRoute="ngModel">
              <option *ngFor="let route of routes" value="{{route.id}}"
                      [selected]="route.id == autoPark.route_id">
                {{route.name}}
              </option>
            </select>
            <div *ngIf="inputRoute.invalid && (inputRoute.dirty || inputRoute.touched)"
                 class="text-danger">
              Field is required.
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="inputTypeCar">Car:</label>
          <div class="col-sm-10">
            <select id="inputTypeCar" name="inputTypeCar" class="form-control" [(ngModel)]="eAutoPark.type_car_id"
                    required #inputTypeCar="ngModel">
              <option *ngFor="let typeCar of typeCars" value="{{typeCar.id}}"
                      [selected]="typeCar.id == autoPark.type_car_id">
                {{typeCar.name}}
              </option>
            </select>
            <div *ngIf="inputTypeCar.invalid && (inputTypeCar.dirty || inputTypeCar.touched)"
                 class="text-danger">
              Field is required.
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="inputTypeState">State:</label>
          <div class="col-sm-10">
            <select id="inputTypeState" name="inputTypeState" class="form-control" [(ngModel)]="eAutoPark.type_state_id"
                    required #inputTypeState="ngModel">
              <option *ngFor="let typeState of typeStates" value="{{typeState.id}}"
                      [selected]="typeState.id == autoPark.type_state_id">
                {{typeState.name}}
              </option>
            </select>
            <div *ngIf="inputTypeState.invalid && (inputTypeState.dirty || inputTypeState.touched)"
                 class="text-danger">
              Field is required.
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="inputTypeStatus">Status:</label>
          <div class="col-sm-10">
            <select id="inputTypeStatus" name="inputTypeStatus" class="form-control"
                    [(ngModel)]="eAutoPark.type_status_id" required #inputTypeStatus="ngModel">
              <option *ngFor="let typeStatus of typeStatuses" value="{{typeStatus.id}}"
                      [selected]="typeStatus.id == autoPark.type_status_id">
                {{typeStatus.name}}
              </option>
            </select>
            <div *ngIf="inputTypeStatus.invalid && (inputTypeStatus.dirty || inputTypeStatus.touched)"
                 class="text-danger">
              Field is required.
            </div>
          </div>
        </div>

        <div align="right">
          <button type="button" class="btn btn-outline-secondary" (click)="saveAutoPark(eAutoPark)">Save</button>
          <button type="button" class="btn btn-outline-secondary" title="AutoPark" routerLink="/auto-park">Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
