<p>
  routes works!
</p>
<p align="right">
  <button class="edit" title="NewRoute" routerLink="./new-route">New</button>
</p>
<h1 align="center">Routes</h1>
<table align="center">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let route of routes">
    <td>{{route.id}}</td>
    <td><a [routerLink]="['./edit-route', route.id]">{{route.name}}</a></td>
    <td>
      <button class="edit" title="edit" [routerLink]="['./edit-route', route.id]">E</button>
      <button class="delete" title="delete" (click)="deleteRoute(route.id)">X</button>
    </td>
  </tr>

</table>

