<div class="container">
  <br>
  <h1 align="center">New Driver</h1>
  <br>
  <div class="row justify-content-center">
    <div class="col-6">

      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="editName">Name: </label>
        <div class="col-sm-10">
          <input id="editName" name="editName" class="form-control" [(ngModel)]="driver.name" placeholder="name"
                 required #editName="ngModel"/>
          <div *ngIf="editName.invalid && (editName.dirty || editName.touched)"
               class="text-danger">
            Field is required.
          </div>
        </div>
      </div>
      <div align="right">
        <button type="button" class="btn btn-outline-secondary" (click)="saveDriver(driver)">Save</button>
        <button type="button" class="btn btn-outline-secondary" routerLink="/drivers">Cancel</button>
      </div>
    </div>
  </div>
</div>