<p>
  auto-park works!
</p>
<p align="right">
  <button class="edit" title="NewAutoPark" routerLink="./new-auto-park">New</button>
</p>
<h1 align="center">AutoPark</h1>
<div>
  <table align="center" border="1">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Age</th>
      <th>Driver</th>
      <th>Route</th>
      <th>Car</th>
      <th>State</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let autoPark of autoParks">
      <td>{{autoPark.id}}</td>
      <td>{{autoPark.name}}</td>
      <td>{{autoPark.age}}</td>
      <td>{{autoPark.driver.name}}</td>
      <td>{{autoPark.route.name}}</td>
      <td>{{autoPark.type_car.name}}</td>
      <td>{{autoPark.type_state.name}}</td>
      <td>{{autoPark.type_status.name}}</td>
      <td>
        <button class="edit" title="edit" [routerLink]="['./edit-auto-park', autoPark.id]">E</button>
        <button class="delete" title="delete" (click)="deleteAutoPark(autoPark.id)">X</button>
        <button title="ViewLog" [routerLink]="['./log-auto-park', autoPark.id]">L</button>
      </td>
    </tr>

  </table>
</div>