<br>
<div class="row justify-content-center">
  <div class="col-12">
    <div class="row form-group justify-content-end">
      <label class="col-md-1 col-form-label" for="editTag">Tag: </label>
      <div class="input-group col-md-6">
        <input id="editTag" class="form-control" [(ngModel)]="newTag" placeholder="name"/>
        <div class="input-group-append">
          <button type="button" class="btn btn-outline-secondary" title="NewTag" (click)="addNewTag(newTag)">Add
          </button>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12">
        <div>
          <table class="table">
            <thead class="thead-light">
            <tr>
              <th>Tag</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tag of autoParkTags.tags">
              <td>{{tag.name}}</td>
              <td width="10%">
                <button class="delete" title="delete" (click)="deleteTag(tag.id)">X</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
