<!--<p>-->
<!--type-statuses works!-->
<!--</p>-->

<div class="container">
  <div class="row">
    <div class="col-12">
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p align="right">
        <button type="button" class="btn btn-outline-secondary" title="NewTypeStatus" routerLink="./new-type-statuses">
          New
        </button>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h1 align="center">TypeStatus</h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-6">
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let typeStatus of typeStatuses">
          <th scope="row">{{typeStatus.id}}</th>
          <td><a [routerLink]="['./edit-type-statuses', typeStatus.id]">{{typeStatus.name}}</a></td>
          <td>
            <button class="edit" title="edit" [routerLink]="['./edit-type-statuses', typeStatus.id]">E</button>
            <button class="delete" title="delete" (click)="deleteTypeStatus(typeStatus.id)">X</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
