<div class="container">
  <br>
  <h1 align="center">Log</h1>
  <br>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>AutoParkName</th>
      <th>DriverName</th>
      <th>RouteName</th>
      <th>CarName</th>
      <th>State</th>
      <th>Status</th>
      <th>StartDate</th>
      <th>FinishDate</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let log of logs">
      <th scope="row">{{log.id}}</th>
      <td>{{log.auto_park.name}}</td>
      <td>{{log.driver.name}}</td>
      <td>{{log.route.name}}</td>
      <td>{{log.type_car.name}}</td>
      <td>{{log.type_state.name}}</td>
      <td>{{log.type_status.name}}</td>
      <td>{{log.start_date}}</td>
      <td>{{log.finish_date}}</td>
      <td>
        <button class="delete" title="Delete" (click)="deleteLog(log.id)">X</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div align="right">
  <button type="button" class="btn btn-outline-secondary" title="Clear" (click)="clearLog()">Clear</button>
  <button type="button" class="btn btn-outline-secondary" title="AutoPark" routerLink="/auto-park">Back</button>
</div>
