<p>
  edit-auto-park works!
</p>

<h1 align="center">AutoPark</h1>
<div *ngIf="autoPark as eAutoPark">
  <table align="center" border="1">
    <tr>
      <th>Field</th>
      <th>Value</th>
    </tr>
    <tr>
      <td><label>Id: </label></td>
      <td>{{eAutoPark.id}}</td>
    </tr>
    <tr>
      <td><label>Name: </label></td>
      <td><input [(ngModel)]="eAutoPark.name" placeholder="name"/></td>
      <!--{{ eAutoPark.name}}-->
    </tr>
    <tr>
      <td><label>Age: </label></td>
      <td><input [(ngModel)]="eAutoPark.age" placeholder="age"/></td>
    </tr>
    <tr>
      <td><label>Driver: </label></td>
      <td>
        <select>
          <option *ngFor="let driver of drivers" value="{{driver.id}}" [selected]="driver.id == autoPark.driver_id ">
            {{driver.name}}
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td><label>Route: </label></td>
      <td>
        <select>
          <option *ngFor="let route of routes" value="{{route.id}}" [selected]="route.id == autoPark.route_id ">
            {{route.name}}
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td><label>Car: </label></td>
      <td>
        <select>
          <option *ngFor="let typeCar of typeCars" value="{{typeCar.id}}"
                  [selected]="typeCar.id == autoPark.type_car_id">
            {{typeCar.name}}
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td><label>State: </label></td>
      <td>
        <select>
          <option *ngFor="let typeState of typeStates" value="{{typeState.id}}"
                  [selected]="typeState.id == autoPark.type_state_id">
            {{typeState.name}}
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td><label>Status: </label></td>
      <td>
        <select onchange="eAutoPark.type_status_id = this.options[this.selectedIndex].value">
          <option *ngFor="let typeStatus of typeStatuses" value="{{typeStatus.id}}"
                  [selected]="typeStatus.id == autoPark.type_status_id">
            {{typeStatus.name}}
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td  align="right"><button (click)="updateAutoPark(eAutoPark)">Save</button></td>
    </tr>
  </table>
</div>


<!--<form (ngSubmit)="onSubmit()" #AutoParkForm="ngForm">-->
<!--<div class="form-group">-->
<!--<label for="name">Name</label>-->
<!--<input type="text" class="form-control" id="name"-->
<!--required-->
<!--[(ngModel)]="autoPark.name" name="name"-->
<!--#name="ngModel">-->
<!--<div [hidden]="name.valid || name.pristine"-->
<!--class="alert alert-danger">-->
<!--Name is required-->
<!--</div>-->
<!--</div>-->
<!--</form>-->